<br>
<br>
<div class="row">
  <div class="col-auto mr-auto">
    <h2 class="text-info">学生成绩管理</h2>
  </div>
  <div class="col-auto"><button type="button" class="btn btn-primary" (click)="search()">查询</button>
    <button type="button" class="btn btn-success" (click)="add()">添加</button>
    <button type="button" class="btn btn-danger " (click)="delete()">删除</button>
    <button type="button" class="btn btn-warning" (click)="update()">修改</button>
  </div>
</div>
<br>

<form [formGroup]="stuForm">
  <div class="form-group">
    <label for="id">学号</label>
    <input type="text" class="form-control" id="id" name="id" [formControl]='id'>
  </div>
  <div class="form-group">
    <label for="stuName">学生姓名</label>
    <input type="text" class="form-control" id="stuName" name="stuName" [formControl]='stuName'>
  </div>
  <div class="form-group">
    <label for="webgrade">WEB成绩</label>
    <input type="text" class="form-control" id="webgrade" name="webgrade" [formControl]='webgrade'>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">学号</th>
      <th scope="col">学生姓名</th>
      <th scope="col">WEB成绩</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let stu of stus$ | async;let  i = index ' (click)="select(stu)">
      <th scope="row">{{i+1}}</th>
      <td>{{stu.id}}</td>
      <td>{{stu.stuName}}</td>
      <td>{{stu.webgrade}}</td>
    </tr>
  </tbody>
</table>
